.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5em;
  justify-items: center;
  padding: 2em 5em; */
}
